<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="pedal.image" class="card-img-top" src="assets/images/drums/{{pedal.image}}">
        <img *ngIf="!pedal.image" class="card-img-top" src="assets/images/drums/pedal-default.png">
      </div>
      <div class="card-body">
        <h1 class="mb-0">{{pedal.brand}} {{pedal.name}}</h1>
        <h2 class="mt-2">Made in: {{pedal.countryOfOrigin}}</h2>
        <h2>Year produced: {{pedal.year}}</h2>
        <hr class="mt-0 mb-2">
        <h3 class="mb-0">Value: ${{pedal.value}}</h3>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="heading">
                <strong>Brand</strong>
                <p>{{pedal.brand}}</p>
              </div>
              <div class="heading">
                <strong>Name</strong>
                <p>{{pedal.name}}</p>
              </div>
              <div class="heading">
                <strong>Model</strong>
                <p>{{pedal.model}}</p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="heading">
                <strong>Year</strong>
                <p>{{pedal.year}}</p>
              </div>
              <div class="heading">
                <strong>Made in</strong>
                <p>{{pedal.countryOfOrigin}}</p>
              </div>
              <div class="heading">
                <strong>Value</strong>
                <p>{{pedal.value}}</p>
              </div>

            </div>
            <div class="col-sm-12">
              <div class="heading">
                <strong>Description</strong>
                <p>{{pedal.description}}</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Desirability and Enhancements">
          <div class="row">
            <div class="col-sm-6">
              <div class="heading">
                <strong>Is ot for Bass or Guitar?</strong>
                <p>{{pedal.forBassOrGuitar}}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="heading">
                <strong>Is it stereo?</strong>
                <p>{{pedal.isStereo}}</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Photos">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

        </tab>
        <tab heading="Contact">
          <h1>Contact Detail</h1>
          This should be restricted area and only registered user should be able to see seller contact details
        </tab>
      </tabset>
    </div>
  </div>
</div>
