<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="keyboard.image" class="card-img-top" src="assets/images/keyboards/{{keyboard.image}}">
    <img *ngIf="!keyboard.image" class="card-img-top" src="assets/images/keyboards/keyboard-default.png">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/keyboard-detail/{{keyboard.id}}"><i class="fas fa-list"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
      </li>
    </ul>
  </div>
    <div class="card-body p-2">
      <h1 class="mb-0">{{keyboard.brand}} {{keyboard.name}}</h1>
      <h2 class="mt-2">Made in: {{keyboard.countryOfOrigin}}</h2>
      <h2>Year produced: {{keyboard.year | date:'yyyy'}}</h2>
      <hr class="mt-0 mb-2">
      <h3 class="mb-0">Value: ${{keyboard.value}}</h3>
    </div>
</div>
