<h1>Band Equipment</h1>
<h2>Please use the nav bar to navigate to different types of band equipment.</h2>

<div class="centered p-3">
  <h3><strong>* All image galleries are currently hard coded for this demo. *</strong></h3>
Feel free to try it out and add items that will be saved in your browser's local storage.
<h3><strong>* The others may work, but data structure is still under construction. *</strong></h3>
</div>
<table>
  <tr>
    <th>To Do List</th>
  </tr>
  <tr>
    <td>List Pages
      <ul>
        <li>Add search button and filters</li>
        <li>Add delete capability</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Add Pages
      <ul>
        <li>(In progress) Revize and complete data models</li>
        <li>(DONE) Add date picker and configure for year</li>
        <li>(DONE) Add radio buttons where applicable</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Detail Pages
      <ul>
        <li>Check labels</li>
        <li>(DONE) Add route resolver for each detail view (currently only drums have a resolver)</li>
        <li>(In progress) Handle null fields</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Next steps
      <ul>
        <li>Add more granular filtering</li>
        <li>Refactor reusable code</li>
        <li>Create interface for countries (currently using type: any)</li>
        <li>(In progress) Complete fillNulls() methods</li>
        <li>Create gear tables in SQL Server and fetch data usng EF and code first approach</li>
        <li>(In progress) Implement add and delete (in API and front end)</li>
        <li>(In progress) Implement repository pattern</li>
        <li>Use DTO's</li>
        <li>Use JWT for authentication</li>
        <li>Add exception and error handling</li>
      </ul>
    </td>
  </tr>
</table>
